* {
    margin: 0;
    padding: 0;
}

.container {
	width: 1200px;
	margin: 0 auto;
}

.header {
	background: #4f4f4f;
    padding: 8px 0;
}

.time-money {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.time h3 {
	color: #fff;
	font-family: courier;
	margin-left: 34px;
    font-size: 22px;
}

.money-info {
	display: flex;
	justify-content: end;
	align-items: center;
}

.icon-money {
	display: flex;
	margin-right: 32px;
	color: #fff;
	font-family: courier;
    font-size: 22px;
}

.icon-money i {
	margin-right: 8px;
}

.ingo {
	margin-right: 20px;
	color: #fff;
	font-size: 22px;
}

.fruits {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.single-fruits {
	width: 23%;
	background: #dfdfdf;
	height: 300px;
	margin-top: 33px;
	border: 5px solid #ccc;
	text-align: center;
	position: relative;
	cursor: pointer;
}

.single-fruits:hover {
	background-color: #ccc;
}

.single-fruits.usable {
	background-color: rgb(102, 156, 22);
	border: 5px solid green;
	color: #fff;
}

.single-fruits.usable:hover {
	background-color: green;
}

.single-fruits.usable .power-prize h3{
	display: none;
}

.single-fruits.usable .power-prize span {
	display: inline-block;
	margin-left: 25%;
}

.fruit-img img {
	max-width: 75%;
	margin-top: 10px;
}

.fruit-info {
	position: absolute;
	top: 75%;
	width: 100%;
}

.name {
	display: flex;
	justify-content: center;
	align-items: center;
}

.name h3 {
	margin-left: 5px;
}

.power-prize {
	display: flex;
	justify-content: space-between;
	width: 89%;
	margin: 11px auto;
	align-items: center;
}

.img-small {
	width: 170px;
}