* {
    margin: 0;
    padding: 0;
}

.container {
	width: 1200px;
	margin: 0 auto;
}

.header {
	background: #4f4f4f;
    padding: 8px 0;
}

.time-money {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.time h3 {
	color: #fff;
	font-family: courier;
	margin-left: 34px;
    font-size: 22px;
}

.money-info {
	display: flex;
	justify-content: end;
	align-items: center;
}

.icon-money {
	display: flex;
	margin-right: 32px;
	color: #fff;
	font-family: courier;
    font-size: 22px;
}

.icon-money i {
	margin-right: 8px;
}

.ingo {
	margin-right: 20px;
	color: #fff;
	font-size: 22px;
}

.fruits {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.single-fruits {
	width: 23%;
	background: #dfdfdf;
	height: 300px;
	margin-top: 33px;
	border: 5px solid #ccc;
	text-align: center;
	position: relative;
}

.fruit-img img {
	max-width: 75%;
	margin-top: 10px;
}

.fruit-info {
	position: absolute;
	top: 75%;
	left: 25%;
}
