* {
    margin: 0;
    padding: 0;
}

.container {
	width: 1200px;
	margin: 0 auto;
}

body {
	overflow-x: hidden;
}

main {
	display: flex;
	overflow: hidden;
}

.first-slide {
	position: absolute;
	width: 100vw;
	transition: .5s;
}

.first-slide.go {
	right: 100%;
}

.header {
	background: #4f4f4f;
    padding: 8px 0;
	position: sticky;
	top: 0;
	z-index: 999;
}

.time-money {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.time h3 {
	color: #fff;
	font-family: courier;
	margin-left: 34px;
    font-size: 22px;
}

.money-info {
	display: flex;
	justify-content: end;
	align-items: center;
}

.icon-money {
	display: flex;
	margin-right: 32px;
	color: #fff;
	font-family: courier;
    font-size: 22px;
}

.icon-money i {
	margin-right: 8px;
}

.ingo {
	margin-right: 20px;
	color: #fff;
	font-size: 22px;
}

.fruits {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.single-fruits {
	width: 23%;
	background: #dfdfdf;
	height: 300px;
	margin-top: 33px;
	border: 5px solid #ccc;
	text-align: center;
	position: relative;
	cursor: pointer;
	font-family: tahoma;
}

.single-fruits:hover {
	background-color: #ccc;
}

.single-fruits.usable {
	background-color: rgb(102, 156, 22);
	border: 5px solid green;
	color: #fff;
}

.single-fruits.usable:hover {
	background-color: green;
}

.single-fruits.usable .power-prize h4{
	display: none;
}

.single-fruits.usable .power-prize span {
	display: inline-block;
	margin-left: 25%;
}

.fruit-img img {
	max-width: 75%;
	margin-top: 10px;
}

.fruit-info {
	position: absolute;
	top: 75%;
	width: 100%;
}

.name {
	display: flex;
	justify-content: center;
	align-items: center;
}

.name h3 {
	margin-left: 5px;
}

.power-prize {
	display: flex;
	justify-content: space-between;
	width: 89%;
	margin: 11px auto;
	align-items: center;
}

.img-small {
	width: 170px;
}

.mian-info {
	position: absolute;
	background: #fff;
	color: #000;
	right: 11px;
	width: 300px;
	height: 370px;
	text-align: center;
	font-family: tahoma;
	top: 97px;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
	padding: 20px;
	visibility: hidden;
	transition: .5s;
	opacity: 0;
}

.fa-circle-info {
	cursor: pointer;
	transition: .4s;
}

.fa-circle-info:hover {
	color: rgb(161, 66, 250);
}

.fa-times:hover {
	color: rgb(161, 66, 250);
	cursor: pointer;
}

.mian-info h3 {
	font-size: 20px;
	margin-bottom: 12px;
}

.mian-info p {
	font-size: 14px;
	text-align: left;
	margin-bottom: 10px;
}

.ingo.come .mian-info {
	top: 47px;
	visibility: visible;
	opacity: 1;
} 

.game-face {
	right: -100%;
	width: 98vw;
	position: absolute;
	height: 100vh;
	background: #ccc;
	top: 0px;
	transition: .5s;
}

.game-face.back {
	right: 0;
	top: 42px;
	width: 100vw;
	overflow: hidden;
	overflow-y: hidden;
}